@model Template.Entities.ViewModels.UserDetailsViewModel

@{
    ViewBag.Title = "Index";

}
<h2>Index</h2>

@using (Html.BeginForm("Register", "Template", FormMethod.Post))
{
    <table>
        <tr>
            <th colspan="2" align="center">Signin form</th>
        </tr>
        <tr>
            <td>
                Name:
            </td>
            <td>
                @Html.TextBoxFor(m => m.UserName)
            </td>
        </tr>

        <tr>
            <td>
                XID:
            </td>
            <td>
                @Html.TextBoxFor(m => m.XID)
            </td>
        </tr>
        <tr>
            <td>
                Technical skills:
            </td>
        </tr>
        <tr>
            <td colspan="3">
                @*create another table here*@
                <table id="SkillTable">
                    <tr>
                        <th>
                            Skill Name:
                        </th>
                        <th>
                            Skill Type:
                        </th>
                        <th>
                            Years of Experiance:
                        </th>
                    </tr>
                    @for (int i = 0; i < Model.SkillSets.Count; i++)
                    {
                        <tr>
                            <td>
                                @Html.TextBoxFor(m => m.SkillSets[i].SkillSetName)
                            </td>
                            <td>
                                @Html.TextBoxFor(m => m.SkillSets[i].SkillSetType)
                            </td>
                            <td>
                                @Html.TextBoxFor(m => m.SkillSets[i].SkillSetYOE)
                            </td>
                        </tr>
                    }
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <input id="addBtn" type="button" value="Add row" />
                <input id="removeBtn" type="button" value="Remove row" />
            </td>
        </tr>
        <tr>
            <td colspan="2" align="right"><input type="submit" value="Submit" /></td>
        </tr>
    </table>
    <script>
        $("#addBtn").on("click", function () {

            var newRow = "<tr><td><input type='text' /></td><td><input type='text' /></td><td><input type='text' /></td></tr>";

            $("#SkillTable").append(newRow);

        });
        $("#removeBtn").on("click", function () {

            $('#SkillTable tr:last').remove();

        });
    </script>
}

